<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hero 3 - Bulma Resources</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/hero-3.css" />
    <script
      src="https://kit.fontawesome.com/a94ff4b30a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="hero is-primary is-large">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img
                  src="https://bulma.io/images/bulma-type-white.png"
                  alt="Logo"
                />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item">Welcome</a>
                <a class="navbar-item">About</a>
                <a class="navbar-item">Menu</a>
                <a class="navbar-item">Contact</a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted is-outlined">
                    <span>Reservations</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container">
          <div class="hero-caption-box">
            <h1 class="title">Welcome to Frank's Place</h1>
            <div class="subtitle">
              <p>
                The best chefs and master bakers at your service. <br />
                Book online or call (123)456-7890
              </p>
            </div>
            <a class="button is-primary is-inverted is-outlined">
              <span>Reservations</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <!-- About Us / Introduction Start -->
      <div class="container">
        <div class="intro">
          <div class="columns">
            <div class="column is-full has-text-centered">
              <h2 class="intro-head">About Us</h2>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half px-5">
              <h3 class="intro-title">
                A few words <span class="bold">about us</span>
              </h3>
              <p class="intro-subtitle">Let us introduce ourselves</p>
              <p class="intro-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Purus ut faucibus pulvinar elementum integer enim. Accumsan sit
                amet nulla facilisi morbi tempus.
              </p>
              <p class="intro-text">
                <span class="intro-highlight">Massa massa ultricies</span> mi
                quis hendrerit dolor magna eget est. Amet mauris commodo quis
                imperdiet massa. Id volutpat lacus laoreet non curabitur.
                Gravida quis blandit turpis cursus in hac habitasse platea
                dictumst. Vulputate mi sit amet mauris commodo quis. Neque
                gravida in fermentum et. Integer vitae justo eget magna
                fermentum iaculis eu non diam.
              </p>
            </div>
            <div class="column is-half px-5">
              <h3 class="intro-title">
                A place to learn, a place
                <span class="bold">to experience</span>
              </h3>
              <p class="intro-subtitle">How it all came to be...</p>
              <p class="intro-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Purus ut faucibus pulvinar elementum integer enim. Accumsan sit
                amet nulla facilisi morbi tempus. Massa massa ultricies mi quis
                hendrerit dolor magna eget est.
              </p>
              <p class="intro-text">
                Amet mauris commodo quis imperdiet massa. Id volutpat lacus
                laoreet non curabitur.
                <span class="intro-highlight">Gravida quis blandit</span> turpis
                cursus in hac habitasse platea dictumst. Vulputate mi sit amet
                mauris commodo quis. Neque gravida in fermentum et. Integer
                vitae justo eget magna fermentum iaculis eu non diam.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- About Us / Introduction End -->
    </section>

    <section>
      <!-- Menu Start -->
      <div>
        <div class="columns">
          <div class="column section-header">
            <h3>Courses</h3>
          </div>
        </div>
      </div>

      <!-- Featured Classes -->
      <div class="container">
        <div class="courses">
          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
              <h4><span class="bold">Featured</span> courses of the month</h4>
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <figure class="image is-48x48 menu-item-img">
                        <img
                          src="https://bulma.io/images/placeholders/48x48.png"
                        />
                      </figure>
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Sesame Crusted Sea Bass</div>
                          <div class="item-price">$60</div>
                        </div>
                        <div class="item-desc">
                          with Roasted Fennel, Smoked Salted Honey and Ginger
                          Sauce
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <figure class="image is-48x48 menu-item-img">
                        <img
                          src="https://bulma.io/images/placeholders/48x48.png"
                        />
                      </figure>
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">
                            Roasted Garlic &amp; Zucchini Flatbreads
                          </div>
                          <div class="item-price">$60</div>
                        </div>
                        <div class="item-desc">
                          with White Sauce, Mozzarella &amp; Grape Tomatoes
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <figure class="image is-48x48 menu-item-img">
                        <img
                          src="https://bulma.io/images/placeholders/48x48.png"
                        />
                      </figure>
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Eggs Benedict</div>
                          <div class="item-price">$55</div>
                        </div>
                        <div class="item-desc">
                          with Duck Prosciutto, Free-range Eggs, Topped with
                          Hollandaise
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <figure class="image is-48x48 menu-item-img">
                        <img
                          src="https://bulma.io/images/placeholders/48x48.png"
                        />
                      </figure>
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Platted Sourdough</div>
                          <div class="item-price">$35</div>
                        </div>
                        <div class="item-desc">
                          from our 120 Year Old Starter
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Breakfast Menu Header -->
          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
              <h4>Baking<span class="bold"> Courses</span></h4>
            </div>
          </div>

          <!-- Breakfast Classes -->
          <div class="columns">
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Cupcake Workshop</div>
                          <div class="item-price">$120</div>
                        </div>
                        <div class="item-desc">
                          Double Chocolate with Butter Cream Icing, White Sponge
                          with Strawberries, and Red Velvet
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Pane Italiano Classico</div>
                          <div class="item-price">$145</div>
                        </div>
                        <div class="item-desc">
                          Focaccia with Olives &amp; Rosemary, Rustic Italian
                          Bread, and a Classic Ciabatta
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Macaron Workshop</div>
                          <div class="item-price">$155</div>
                        </div>
                        <div class="item-desc">
                          French Macarons with Vanilla, Raspberry, Strawberry,
                          Salted Caramel, and Red Velvet
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Amish Dinner Rolls</div>
                          <div class="item-price">$100</div>
                        </div>
                        <div class="item-desc">Soft, Buttery Dinner Rolls</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Cooking Basics Header-->
          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
              <h4>Learning the <span class="bold"> Basics</span></h4>
            </div>
          </div>

          <!-- Cooking Basics Classes -->
          <div class="columns">
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Sauces 101</div>
                          <div class="item-price">$85</div>
                        </div>
                        <div class="item-desc">
                          Learn How to Make Basic Sauces
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Soups 101</div>
                          <div class="item-price">$100</div>
                        </div>
                        <div class="item-desc">
                          Make A Creamy Potato Soup and a Classic Chicken and
                          Noodle
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Egg Basics</div>
                          <div class="item-price">$100</div>
                        </div>
                        <div class="item-desc">
                          Learn to Scramble Eggs, Hard Boiled, and Make a French
                          Omelet
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Roast Chicken 101</div>
                          <div class="item-price">$125</div>
                        </div>
                        <div class="item-desc">
                          All the Detals on Roasting a Moist Chicken
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Grill Header -->
          <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
              <h4>Patio<span class="bold"> Courses</span></h4>
            </div>
          </div>

          <!-- Grill Classes -->
          <div class="columns">
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Smoker 101</div>
                          <div class="item-price">$100</div>
                        </div>
                        <div class="item-desc">
                          How to Get the Most From Your Mmoker
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Grilling 101</div>
                          <div class="item-price">$100</div>
                        </div>
                        <div class="item-desc">
                          How to Grill Using a Charcoal BBQ
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column">
              <div class="menu-container">
                <ul class="menu-list">
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">Rotisserie Chicken</div>
                          <div class="item-price">$125</div>
                        </div>
                        <div class="item-desc">
                          Learn How To Make The Juicest Chicken You'll Ever Eat
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-item">
                      <div class="menu-item-inner">
                        <div class="title-container">
                          <div class="item-title">BBQ Steak Nachos</div>
                          <div class="item-price">$95</div>
                        </div>
                        <div class="item-desc">
                          Rib Eye Steak, Tortilla Chips, Black Beans, and
                          Mexican Cheeses
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Menu End -->
    </section>

    <section>
      <div>
        <div class="columns">
          <div class="column section-header">
            <h3>Contact Us</h3>
          </div>
        </div>
      </div>
      <div class="contact-container">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h3><i class="fas fa-star"></i>Frank's Place - Univeristy</h3>
              <div class="details-container">
                <p>4326 University Way NE<br />Seattle, WA, United States</p>
                <p>
                  555.123.4567<br /><span class="email"
                    >university@franksplace.com</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <h3><i class="fas fa-star"></i>Frank's Place - Waterfront</h3>
              <div class="details-container">
                <p>4326 University Way NE<br />Seattle, WA, United States</p>
                <p>
                  555.123.4567<br /><span class="email"
                    >waterfront@franksplace.com</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <h3><i class="fas fa-star"></i>Frank's Place - West</h3>
              <div class="details-container">
                <p>4326 University Way NE<br />Seattle, WA, United States</p>
                <p>
                  555.123.4567<br /><span class="email"
                    >west@franksplace.com</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <h3><i class="fas fa-star"></i>Frank's Place - Bellingham</h3>
              <div class="details-container">
                <p>4326 University Way NE<br />Seattle, WA, United States</p>
                <p>
                  555.123.4567<br /><span class="email"
                    >bellingham@franksplace.com</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="columns">
            <div class="column is-two-fifths">
              <h4 class="location-head">Location</h4>
            </div>
            <div class="column is-three-fifths">
              <h4 class="form-head">Get in touch</h4>
              <form action="">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded">
                        <input
                          class="input is-success"
                          type="text"
                          placeholder="Name"
                        />
                      </p>
                    </div>
                    <div class="field">
                      <p class="control is-expanded">
                        <input
                          class="input is-success"
                          type="email"
                          placeholder="Email"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <textarea
                          class="textarea"
                          placeholder="Message"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <button class="button is-primary">Send message</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="footer">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h4>Stay connected through our newsletter</h4>
              <form action="#">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input
                      class="input"
                      type="email"
                      placeholder="Join Our Newsletter"
                    />
                  </div>
                  <div class="control">
                    <a class="button is-info"> Go! </a>
                  </div>
                </div>
              </form>
              <div class="social">
                Follow Us
                <div class="social-badges">
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-twitter-square"></i>
                  <i class="fab fa-instagram-square"></i>
                  <i class="fab fa-youtube-square"></i>
                </div>
              </div>
            </div>
            <div class="column">
              <ul class="has-text-right">
                <li><a href="#">Classes</a></li>
                <li><a href="#">Private Events</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="colophon">
                <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a
                ><br />
                <p>
                  Copyright &copy;
                  <script type="text/javascript">
                    document.write("2018 - " + new Date().getFullYear());
                  </script>
                  Frank’s Kitchen, LLC. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
