<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero 3 - Bulma Resources</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/hero-3.css">
    <script src="https://kit.fontawesome.com/a94ff4b30a.js" crossorigin="anonymous"></script>
  </head>
    <body>
      <section class="hero is-primary is-large">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item">Welcome</a>
                  <a class="navbar-item">About</a>
                  <a class="navbar-item">Menu</a>
                  <a class="navbar-item">Contact</a>
                  <span class="navbar-item">
                    <a class="button is-primary is-inverted is-outlined">
                      <span>Reservations</span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container">
            <div class="hero-caption-box">
              <h1 class="title">Welcome to Frank's Place</h1>
              <div class="subtitle">
                <p>The best gourmet restaurant avaiable in Seattle. <br> Book online or call (123)456-7890</p>
              </div>
              <a class="button is-primary is-inverted is-outlined">
                <span>Reservations</span>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="intro">
            <div class="columns">
              <div class="column is-full has-text-centered"><h2 class="intro-head">About Us</h2></div>
            </div>
            <div class="columns">
              <div class="column is-half px-5">
                <h3 class="intro-title">A few words <span class="bold">about us</span></h3>
                <p class="intro-subtitle">Let us introduce ourselves</p>
                <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus ut faucibus pulvinar elementum integer enim. Accumsan sit amet nulla facilisi morbi tempus.</p>
                <p class="intro-text"><span class="intro-highlight">Massa massa ultricies</span> mi quis hendrerit dolor magna eget est. Amet mauris commodo quis imperdiet massa. Id volutpat lacus laoreet non curabitur. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Vulputate mi sit amet mauris commodo quis. Neque gravida in fermentum et. Integer vitae justo eget magna fermentum iaculis eu non diam.</p>
              </div>
              <div class="column is-half px-5">
                <h3 class="intro-title">A place to wine, a place <span class="bold">to dine</span></h3>
                <p class="intro-subtitle">How it all came to be...</p>
                <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus ut faucibus pulvinar elementum integer enim. Accumsan sit amet nulla facilisi morbi tempus. Massa massa ultricies mi quis hendrerit dolor magna eget est.</p>
                <p class="intro-text">Amet mauris commodo quis imperdiet massa. Id volutpat lacus laoreet non curabitur. <span class="intro-highlight">Gravida quis blandit</span> turpis cursus in hac habitasse platea dictumst. Vulputate mi sit amet mauris commodo quis. Neque gravida in fermentum et. Integer vitae justo eget magna fermentum iaculis eu non diam.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="column">
            <div class="columns is-mobile is-full">
              <h3>Menu</h3>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="footer"></div>
      </section>

    </body>
  </html>
